<!DOCTYPE>
<html>
    <head>
       <title><%= title %></title>
    </head>
    <body >
      <h1 style="font-family:monospace;">About</h1>
      <p style="font-family:monospace;"><%= about %></p>
      <h2 style="font-family:monospace;">Name of Scholar</h1>

      <p style="font-family:monospace;" >
         <%- JSON.stringify(public._data.scholars) %>
         <% for(var i = 0; i < public._data.scholars.length; i++) {%>
            <% if (public._data.scholars[i].publish_status) {%>
               <%= public._data.scholars[i].index_no %>.
            <% } %>
         <% } %>
      </p>
    </body>
 </html>
 